@model HairArt.ViewModels.ConfirmAppointmentViewModel

<h2>Randevuyu Onaylayın</h2>
<p><strong>Kategori:</strong> @Model.Category.CategoryName</p>
<p><strong>Ürün:</strong> @Model.Product.ProductName</p>
<p><strong>Fiyat:</strong> @Model.Product.ProductPrice tl</p>
<p><strong>Çalışan:</strong> @Model.Employee.FirstName @Model.Employee.LastName</p>
<p><strong>Tarih ve Saat:</strong> @Model.Schedule.StartDateTime.ToString("dd/MM/yyyy HH:mm")</p>

<form method="post">
    <button class="btn btn-brand" type="submit">Randevuyu Onayla</button>
</form>
