@model IEnumerable<ApplicationUser>

    <div class="my-5"><i class="fa fa-plus"></i></div>
    <div class="text-center my-5">
        <div class="display-6">Users</div>
        <a class="btn btn-outline-info" asp-action="Create">Create</a>
    </div>

    @if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Hata:</strong> @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Başarılı:</strong> @TempData["SuccessMessage"]
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
           
            <th>Roles</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ApplicationUser user in Model)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td user-name="@user.UserName" user-role=""></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-sm btn-warning"asp-action="Update" asp-route-id="@user.UserName">Edit</a>
                    <a class="btn btn-sm btn-info"asp-action="ResetPassword" asp-route-id="@user.UserName">Reset Password</a>
                    <form method="post" asp-action="DeleteOneUser">
                        <input type="hidden" name="Email" value="@user.Email"/>
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-solid fa-trash"></i>Delete
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>