@model IEnumerable<Entities.Models.Employee>
<div class="container mt-5">
    
   <div class="my-5"><i class="fa fa-plus"></i></div>
    <div class="text-center my-5">
        <div class="display-6">Employee List</div>
    </div>
    <div class="d-flex justify-content-end my-3">
<a class="btn btn-outline-success" asp-controller="Employee" asp-action="Create">
        <i class="fa fa-plus"></i>Create
    </a>
    </div>

    <!-- TempData'dan gelen hata veya başarı mesajlarını göster -->
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Is Available</th>
                <th>Products</th>
                <th>Schedules</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.IsAvailable</td>
                    <td>
                        @foreach (var product in employee.EmployeeProducts)
                        {
                            <div>@product.Product?.ProductName</div>
                        }
                    </td>
                    <td>
                        @foreach (var schedule in employee.EmployeeSchedules)
                        {
                            <div>@schedule.Schedule?.StartDateTime - @schedule.Schedule?.EndDateTime</div>
                        }
                    </td>
                   <td>  <div class="button-group">
                    <a asp-action="EditEmployeeProducts" asp-route-id="@employee.EmployeeId" class="btn btn-primary btn-sm">Edit Products</a>
                    <a asp-action="EditEmployeeSchedules" asp-route-id="@employee.EmployeeId" class="btn btn-warning btn-sm">Edit Schedules</a>
                    <form method="get" asp-action="Delete" asp-route-id="@employee.EmployeeId" style="display:inline;">
                            <button class="btn btn-danger" type="submit">Sil</button>
                        </form>
                    </div></td>
                </tr>
            }
        </tbody>
    </table>
</div>
